[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
google-auth-oauthlib = "*"
pandas-gbq = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.google-cloud-bigquery]
extras = [ "pandas", "bqstorage",]
